# IntelliJ Files
.idea/
*.ipr
*.iws
*.iml

# Eclipse Files
.settings/
.classpath
.project

# vscode
.vscode

# Dotenv
.env

# Build outputs
target/
reports/
.flattened-pom.xml
/js/dist/
/js/node_modules/
